/**
 * Styles for Employee Portal
 *
 * @package meri2015
 */

.employee-portal-mast {
  background-color: #444;
  text-align: center;
  padding: 2.5em 1em;
  border-bottom: 20px solid #fff;


  h2 {
    color: #fff;
    font-size: 2.5em;
  }
}

.employee-portal-center {
  padding: 7em 1em;
  text-align: center;
  background-color: rgba( 255, 255, 255, .7 );
  border-bottom: 20px solid #fff;
}
  .employee-portal-center h2 {
    color: #555;
  }
  .employee-portal-link {
    display: inline-block;
    margin: .5em;
  }
  .employee-portal-button {
    width: 100px;
  }