/**
 * styles for the main navigation
 *
 * @package meri2015
 */


// .genesis-nav-menu {
//   clear: both;
//   font-size: 16px;
//   line-height: 1;
//   width: 100%;
//   text-transform: lowercase;

//   @include breakpoint( max-width $max-breakpoint-2 ) { text-align: center; }
// }

// .menu-dropdown > a::after {
//   content: "";
//   display: inline;
//   width: 0;
//   height: 0;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   border-top: 5px solid #000;
//   position: relative;
//   top: .85em;
//   left: .5em;
// }

// .genesis-nav-menu .menu-item {
//   display: inline-block;
//   text-align: left;
// }

// .genesis-nav-menu a {
//   color: #333;
//   display: block;
//   font-size: .9em;
//   padding: 20px 10px;

//   @include breakpoint( 520px ) {
//     font-size: 1em;
//     padding: 20px 16px;
//   }
//   @include breakpoint( $max-breakpoint-2 ) {
//     line-height: $site-header-height;
//     padding: 0 24px;
//   }
// }

// .genesis-nav-menu a:hover,
// .genesis-nav-menu .current-menu-item > a,
// .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
//   color: #e5554e;
// }

// .genesis-nav-menu .sub-menu {
//   left: -9999px;
//   opacity: 0;
//   position: absolute;
//   -webkit-transition: opacity .4s ease-in-out;
//   -moz-transition:    opacity .4s ease-in-out;
//   -ms-transition:     opacity .4s ease-in-out;
//   -o-transition:      opacity .4s ease-in-out;
//   transition:         opacity .4s ease-in-out;
//   width: 200px;
//   z-index: 99;
// }

// .genesis-nav-menu .sub-menu a {
//   background-color: #fff;
//   border: 1px solid #eee;
//   border-top: none;
//   font-size: 14px;
//   padding: 20px;
//   position: relative;
//   width: 200px;
//   line-height: 1;
// }

// .genesis-nav-menu .sub-menu .sub-menu {
//   margin: -55px 0 0 199px;
// }

// .genesis-nav-menu .menu-item:hover {
//   position: static;
// }

// .genesis-nav-menu .menu-item:hover > .sub-menu {
//   left: auto;
//   opacity: 1;
// }

// .genesis-nav-menu > .first > a {
//   padding-left: 0;
//   @include breakpoint( max-width $max-breakpoint-2 ) { padding: 20px 16px; }
// }

// .genesis-nav-menu > .last > a {
//   padding-right: 0;
//   @include breakpoint( max-width $max-breakpoint-2 ) { padding: 20px 16px; }
// }

// .genesis-nav-menu > .right {
//   color: #fff;
//   float: right;
//   list-style-type: none;
//   padding: 30px 0;
// }

// .genesis-nav-menu > .right > a {
//   display: inline;
//   padding: 0;
// }

// .genesis-nav-menu > .rss > a {
//   margin-left: 48px;
// }

// .genesis-nav-menu > .search {
//   padding: 10px 0 0;
// }

// .genesis-nav-menu li.right {
//   @include breakpoint( max-width $max-breakpoint-2 ) { display: none; }
// }

// .genesis-nav-menu li {
//   @include breakpoint( max-width $max-breakpoint-2 ) { float: none; }
// }

// /* ## Site Header Navigation
// --------------------------------------------- */

// .site-header .sub-menu {
//   border-top: 1px solid #eee;
// }

// .site-header .sub-menu .sub-menu {
//   margin-top: -56px;
// }

// .site-header .genesis-nav-menu li li {
//   margin-left: 0;
// }

// .site-header ul.genesis-nav-menu {
//   @include breakpoint( max-width $max-breakpoint-2 ) { float: none; }
// }

// /* ## Primary Navigation
// --------------------------------------------- */

// .nav-primary {
//   background-color: #fff;
// }
//   .site-header .nav-primary {
//     @include breakpoint( $max-breakpoint-2 ) {
//       float: right;
//     }
//   }

// .nav-primary .genesis-nav-menu a {
//   color: $main-nav-link-text-color;
// }

// .nav-primary .genesis-nav-menu .sub-menu a {
//   color: $main-nav-link-text-color;
// }

// .nav-primary .genesis-nav-menu a:hover,
// .nav-primary .genesis-nav-menu .current-menu-item > a,
// .nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
//   color: $meri-color-3;
// }

// /* ## Secondary Navigation
// --------------------------------------------- */

// .nav-secondary {
//   background-color: #fff;
// }