/**
 * Grids
 */
.grid {
  display: flex;
  flex-wrap: wrap;
}
  .grid--top { align-items: flex-start; }
  .grid--bottom { align-items: flex-end; }
  .grid--center { align-items: center; }
  .grid--3 { justify-content: center; }

.grid-cell {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 25em;
}
  .grid-cell--padded { padding: 1em; }
  .grid-cell--top { align-self: flex-start; }
  .grid-cell--bottom { align-self: flex-end; }
  .grid-cell--center { align-self: center; }

.grid--2 > .grid-cell { @include breakpoint( $grid-2-breaks ) { flex: 1 0 50%; } }
.grid--3 > .grid-cell {
  @include breakpoint( $grid-3-breaks ) { flex: 1 0 33.3333%; }
}
.grid--4 > .grid-cell {
  @include breakpoint( $grid-4-fits-partial ) { flex: 1 0 50%; }
  @include breakpoint( $grid-4-fits-full ) { flex: 1 0 25%; }
}

@mixin grid() {
  display: flex;

  & > * { flex: 1; }

}
  @mixin grid--gutters() {
    margin: -1em 0 0 -1em;

    & > { padding: 1em 0 0 1em; }
  }
  @mixin grid--full() {
    flex-wrap: wrap;
    & > * { flex: 0 0 100%; }
  }
  @mixin grid--2() { & > * { flex: 0 0 50%; } }
  @mixin grid--3() { & > * { flex: 0 0 33.333%; } }
  @mixin grid--4() { & > * { flex: 0 0 25%; } }

