.vcentered-headline-container {
  text-align: center;

  @include breakpoint( 800px ) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
  }

}
  .homepage-announcements {
    background-image: url( 'img/tutors-with-balloons-wide.jpg' );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include breakpoint( 800px ) {
      padding: 3em 0;
      height: 85vh;
    }
  }
  .vcentered-headline-container.parallax-overlay {
    @include coverer();
  }
.vcentered-headline,
.parallax-title {

  background-color: rgba( 0, 0, 0, 0.4 );
  padding: 2em 1em;

  h2 {
    color: #fff; //$meri-color-1;
    font-size: 2em;

    @include breakpoint( 1200px ) {
      font-size: 2.5em;
    }
  }

  p {
    font-weight: 500;
    max-width: .6 * $structural-wrap-max-width;
    margin: 0 auto;
    color: #fff;

    @include breakpoint( 1200px ) {
      font-size: 1.3em;
    }
  }

  .button {
    font-family: $headline-font-family;
    margin-top: 2em;
    background-color: $meri-color-2;

    &:hover { background-color: $meri-color-1; }
  }

}
  .home-02 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }

.homepage-instagram-grid + .primary-footer {
  margin-top: 0;
}

.homepage-announcements {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
  .lslide {
    height: 100%;
  }
  .announcement-slide {
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

// layout stuff @todo fix this
@mixin fullbleedrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

@mixin fullbleedrow__primary($max-width: 100%) {
  width: 100%;
  max-width: $max-width/2;
  // align-self: flex-end;
}

@mixin fullbleedrow__secondary($max-width: 100%) {
  width: 100%;
  max-width: $max-width/2;
  // align-self: flex-end;
}

.classes-mast {
  @include masthead;
  // background-image: url( 'img/classes-01.jpg' );
  // background-position: center right;
}

.subject-breakdown {
  text-align: left;
}

.classes-interlude-01 {
  @include image-interlude;
  // background-image: url( 'img/classes_interlude_01.jpg' );
}

.classes-tutoring {
  padding: 3em 1em;
  text-align: center;
}


.classes-coaching {

  padding: 3em 1em;

  ul {

  }
  li {
    list-style: bullet;
    margin-left: 2em;
  }

}

.classes-coaching-container {
  padding: 0 5%;
}

.classes-coaching__main {
  text-align: center;
}

.classes-coaching__list {
  @include fullbleedrow;

  .row__primary {
    max-width: 100%;
    text-align: center;

    @include breakpoint( 800px ) {
      text-align: right;
      width: 30%;
    }

    img {
      width: 50%;
      @include breakpoint( 800px ) {
        width: 100%;
      }
    }

  }
  .row__secondary {
    width: 70%;
  }
}

.classes-main-case-study {
  padding: 3em 1em;
}

.classes-image-interlude-1 {
  @include image-interlude;
  // background-image: url( 'img/classes-02.jpg' );
}

.classes-college-and-beyond {
  padding: 3em 1em;
  text-align: center;
}


.fullbleedrow { @include fullbleedrow; }
.row__primary { @include fullbleedrow__primary( $structural-wrap-max-width ); }
.row__secondary { @include fullbleedrow__secondary( $structural-wrap-max-width ); }

.hearts {
  float: right;
  padding-left: 10px;
  img { width: 30px; height: auto; display: block; animation-delay: .4s; padding-bottom: 1em; }

  .heart1 {position: relative; left: 10px;}
  .heart2 {}
  .heart3 {position: relative; left: 10px;}
  .heart4 {}
}

.homepage-hassle-free {
  @include fullbleedrow;
  text-align: center;

  .wrap {
    max-width: .8 * $structural-wrap-max-width;
  }

  .player {
    margin-top: 1.5em;
  }

  .homepage-hasslefree-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
  }
}

.hasslefree-row {
  @include grid();
  @include grid--full();

@include breakpoint( 730px ) { @include grid--2(); }
  @include breakpoint( 1020px ) { @include grid--4(); }
}
  .hasslefree-card {
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: $headline-font-family;
    color: $meri-color-4;
    padding: .5em .7em;
  }
  .hasslefree-icon {
    max-width: 100px;
    margin-bottom: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.homepage-bubbles {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.homepage-hasslefree-icons {
  margin-top: 1.5em;
}

.homepage-image-interlude-1 {
  @include image-interlude;
  // background-position: top center;
  // background-image: url( 'img/home-05.jpg' );
}

.homepage-testimonial {
  width: 100%;
  display: block;
}
  .homepage-why-they-love-us .light-slider li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.homepage-we-do-better {
  @include ledetext;
  padding: 3em 1em 0;
  text-align: center;

  h2 {
    color: $meri-color-2;
  }
}

.homepage-what-we-do {
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
  .wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.homepage-what-we-do__item {
  padding-top: 1em;
}

.homepage-image-interlude-2 {
  @include image-interlude;
  height: 55vh;
  // background-image: url( 'img/home-11.jpg' );
  // background-position: top center;
}


.homepage-why-they-love-us {
  padding: 2em 1em;

  .love-us-wrap {
    @include fullbleedrow;
  }

  .row__primary,
  .row__secondary {
    padding: 1em;
  }

  .row__primary {
    text-align: right;
    .love-us-img {
      width: 80%;
    }
    h2 {
      font-size: 2em;
      color: $meri-color-4;
    }
  }

  .love-us-cta {
    padding-top: 1em;
    text-align: center;
  }
}

.homepage-instagram-grid {
  padding: 2em 1em;
}


.consultant-squad-section {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}

.college-ec-consultants {
  padding: 0 1em;

  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
}
  img.consultant-squad {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.admissions-consultant {
  text-align: center;
  @include breakpoint( $consultant-bios-can-fit-wide ) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}
  .admissions-consultant + .admissions-consultant {
    margin-top: 1.5em;
  }
  .consultant__profile {
    width: $consultant-photo-width;
    flex-basis: $consultant-photo-width;
    padding: 1em;
    flex-shrink: 0;
    @include breakpoint( max-width ($consultant-bios-can-fit-wide - 1) ) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .consultant__photo {

  }
  .consultant__desc {
    padding: 1em;
  }
  .consultant-header {
  }
  .consultant__name,
  .consultant__position {
    display: inline;
    text-transform: lowercase;
    color: $meri-color-2;
    font-weight: 400;
  }
  .consultant__position {
    font-weight: bold;
    font-size: 1.2em;
  }
  .consultant__bio {
    @include breakpoint( $consultant-bios-can-fit-wide ) {
      padding-right: $consultant-photo-width;
    }
  }

  .admissions-consultant:nth-child(2n) {
    @include breakpoint( $consultant-bios-can-fit-wide ) {
      .consultant__profile { order: 2; }
      .consultant__desc { order: 1;}
      .consultant__header {
        text-align: right;
      }
      .consultant__bio {
        text-align: right;
        padding-left: $consultant-photo-width;
        padding-right: 0;
      }
    }
  }

.testprep-satact-next-test-dates {
  padding: 3em 1em;
}

a.cta-button {
  background-color: $meri-color-2;
  color: #fff;
  font-family: $headline-font-family;

  &:hover { background-color: $meri-color-1; }
}


.wrap {
  margin: 0 auto;
  max-width: $structural-wrap-max-width;

  @include breakpoint( max-width $max-breakpoint-3 ) {
    padding-left: $structural-wrap-small-padding;
    padding-right: $structural-wrap-small-padding;
  }
}


.try-us-free {
  text-align: center;
  padding: 3em 1em;
  margin-top: $adjacent-section-margin-top;
  color: #fff;
  background-color: $meri-color-2;

  .wrap {
    max-width: .7*$structural-wrap-max-width;
  }

  h2 {
    color: #fff;
    font-size: 2em;
  }
  .button {
    color: $meri-color-2;
    font-family: $headline-font-family;
    background-color: #fff;
    padding: .5em 2em;
    margin-top: 1.5em;

    &:hover {
      background-color: $meri-color-1;
    }
  }
}
  .try-us-free--contact {
    background-color: #fff;
    color: $body-text-color;
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      color: $headline-primary-text-color;
    }

    .button {
      color: #fff;
      background-color: $meri-color-2;
    }
  }

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-social {
  clear: both;
  display: block;
  padding: 1em;
  text-align: center;
  font-size: 1.1em;

  span { display: none; }
}

.footer-quicklinks {
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0;
  background-color: $site-footer-background-color;

  h3,
  a {
    color: $site-footer-text-color;
  }

  h3 {
    font-size: 1em;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }

  ul { margin-bottom: 1em;}

  li {
    line-height: 1.5;
    font-size: .85em;
  }

  a { font-size: .85em; }
  a:hover { color: $meri-color-2; }

}

.footer-extra-links {
  clear: both;
  padding: 1em;
  text-align: center;

  li { display: inline-block; }
  li + li:before { content: " | "; }
}

.footer-widgets {
  background-color: #fff;
  clear: both;
  padding-top: 40px;
}

.footer-widgets,
.footer-widgets a {
  color: #999;
}

.footer-widgets input {
  //border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: #fff;
}

.footer-widgets li {
  border-bottom: 1px dotted #666;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 340px;

  @include breakpoint( max-width $max-breakpoint-1 ) { max-width: 300px; }
  @include breakpoint( max-width $max-breakpoint-2 ) { width: 100%; }
}

.footer-widgets-1 {
  margin-right: 60px;

  @include breakpoint( max-width $max-breakpoint-1 ) { margin-right: 30px; }
  @include breakpoint( max-width $max-breakpoint-2 ) { margin-right: 0; }
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}

// /* # Site Footer
// ---------------------------------------------------------------------------------------------------- */



.primary-footer {
  @include fullbleedrow;
  background-color: $site-footer-background-color;
  color: $site-footer-text-color;
  padding: 2em 1em;

  p { margin-bottom: 0; }

  .one-fourth {
    padding-right: 1em;
    @include breakpoint( max-width 800px ) {
      text-align: center;
      padding: 1em;
    }
  }

  .row__primary {

    p { font-size: .9em;}

  }
  .row__secondary {
    padding-top: 2em;
    text-align: center;

    @include breakpoint( 1115px ) {
      text-align: right;
      padding-top: 0;
    }
  }
}

.footer-yelp-links {
  color: #e74c3c;

  &:hover { color: #ccc;  }
}
.footer-phone-number {
  font-size: .9em;
  margin-left: .2em;
}

.primary-footer .gform_wrapper .top_label input.medium {
  @include breakpoint( max-width 1115px ) {
    width: 100% !important;
  }
}

.site-footer {
  background-color: $site-footer-background-color;
  color: $site-footer-text-color;
  font-size: $site-footer-font-size;
  line-height: $site-footer-line-height;
  padding: 40px 0;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
}

/**
 * Styles for Contact
 *
 * @package meri2015
 */

.contact-mast {
  @include masthead;
  // background-image: url( 'img/contact-mast.jpg' );
  // background-position: bottom center;
}

.contact-try-us {
  padding: 3em 1em;
  text-align: center;

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
  }

  .gfield {
    margin-bottom: 2em;
  }

  .gfield_label {
    color: $meri-color-2;
  }

  .gform_wrapper {
    width: 40em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .gform_title { display: none; }
}

.contact-locations {
  text-align: center;

  @include breakpoint( 800px ) {
    text-align: left;
  }

  .one-fourth {
    padding-bottom: 2em;
  }

  h2 {
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }

  ul {
    font-size: .8em;
  }

  a { font-weight: bold; }

}

.contact-join-squad {
  padding: 0 1em;
  margin-bottom: $adjacent-section-margin-top;
  text-align: center;

  a { font-weight: bold; }
}

@mixin masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include breakpoint( 900px ) {
    height: 60vh;
  }

  h2 {
    text-align: center;
    font-size: 3em;
    padding: 1em .5em 0;
    color: #fff;
  }
}

@mixin ledetext {
  h2 { font-size: 2em; }
  p { font-size: 1.2em; }
}

#gform_wrapper_2 { // signup for merinews
  max-width: 100%;
  text-align: right;
  margin: 0;

  .gform_heading { display: none; }

  label { display: none; }

  .ginput_container { margin: 0; }

  .gform_body { text-align: right; }

  .gform_footer { display: none; }
}

.employee-portal-mast {
  background-color: #444;
  text-align: center;
  padding: 2.5em 1em;
  border-bottom: 20px solid #fff;


  h2 {
    color: #fff;
    font-size: 2.5em;
  }
}

.employee-portal-center {
  padding: 7em 1em;
  margin-top: 0;
  text-align: center;
  background-color: rgba( 255, 255, 255, .7 );
  border-bottom: 20px solid #fff;
}
  .employee-portal-center h2 {
    color: #444;
    font-size: 2.5em;
  }
  .employee-portal-link {
    display: inline-block;
    margin: .5em;
  }
  .employee-portal-button {
    width: 100px;
  }
  .task-section {
    margin-top: .5*$adjacent-section-margin-top;
  }
    .task-section h3 {
      color: #777;
    }
    a.task-button {
      border-radius: 10px;
      display: inline-block;
      margin: .5em;
      font-weight: bold;
      background-color: $meri-color-2;
      padding: .5em 1em;
      color: #fff;

      &:hover {
        background-color: $meri-color-1;
      }
    }

.testing-portal-mast {
  background-color: #444;
  text-align: center;
  padding: 2.5em 1em;
  border-bottom: 20px solid #fff;


  h2 {
    color: #fff;
    font-size: 2.5em;
  }
}

.testing-registration {
  text-align: center;
  padding: 2.5em 1em;
}

.testing-booklets {
  padding: 2.5em 1em;
  text-align: center;

  h2 { text-align: center; }
  a {
    display: inline-block;
    margin: .5em;
  }
}

.footer-legal {
  max-width: $structural-wrap-max-width * 1.8;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: .8em;
  color: #aaa;
}

/**
 * Styles for the About / Our Story page
 *
 * @package meri2015
 */

.about-story-mast {
  @include masthead;
  // background-image: url( 'img/about-story-01.jpg' );
}

.about-story-philosophy {
  text-align: center;
  padding-top: 2em;

  h2 { font-size: 2em; }
  p { font-size: 1.2em; }

  .wrap {
    max-width: .7*$structural-wrap-max-width;
  }
}


.about-story-grand-vision {
  @include fullbleedrow;
  padding: 3em 1em;
  text-align: center;

  .wrap {
    max-width: .65*$structural-wrap-max-width;
  }

  h2 {
    color: $meri-color-2;
    font-size: 2em;
  }
  p { font-size: .9em; }
  p + p { margin-top: 14px; }

  .row__primary,
  .row__secondary {
    padding: 1em;
  }

  .row__primary {
    max-width: .7 * $structural-wrap-max-width;
  }

}

.about-story-image-interlude-1 {
  @include image-interlude;
  // background-image: url( 'img/about-story-04.jpg' );
  margin-top: 1em;
  height: 50vh;
}

.about-story-not-a-franchise {
  padding: 2em 1em;
  text-align: center;

  h2 {
    text-align: center;
    color: $meri-color-2;
    font-size: 2em;
  }

  p {
    max-width: .65*$structural-wrap-max-width;
    margin-left: auto;
    margin-right: auto;
    font-size: .9em;
  }
  p + p { margin-top: 14px; }

  .wrap-sm {
    max-width: .7*$structural-wrap-max-width;
  }

  .one-third {
    text-align: center;
  }
}

.about-story-tutors {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    text-align: center;
    padding: 0 1em;
    color: $meri-color-2;
  }

  .ninjas-wrap {
    text-align: center;
    max-width: .7*$structural-wrap-max-width;
    margin-left: auto;
    margin-right: auto;

    p {
      max-width: .65*$structural-wrap-max-width;
      margin-left: auto;
      margin-right: auto;
      font-size: .9em;
    }
    p + p {
      margin-top: 14px;
    }

    img {
      width: 100%;
      max-width: 30em;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .row__primary,
  .row__secondary {
    padding: 1em;
  }

  .row__primary {
  }
}

.about-story-happiness {
  margin-top: $adjacent-section-margin-top;
}

.testimonial-cta-wrap {
  text-align: center;
  padding: 1em;
}
.testimonial-cta {
  background-color: $meri-color-2;
  margin: 0 auto;
  font-family: $headline-font-family;
  text-align: center;

  &:hover { background-color: $meri-color-1; }
}

.about-story-image-interlude-2 {
  @include image-interlude;
  // background-image: url( 'img/about-story-interlude-03.jpg' );
  height: 55vh;
}

.about-story-image-interlude-4 {
  @include image-interlude;
  // background-image: url( 'img/about-story-interlude-04.jpg' );
}


.about-story-why-1-on-1 {
  text-align: center;
  margin: 2em 1em 0;

  h2 {
    font-size: 2em;
    text-align: center;
    padding: 0 1em;
    color: $meri-color-2;
  }
  p {
    max-width: .65*$structural-wrap-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-story-hc-item {
  @include fullbleedrow;

  img {
    height: auto;
    width: 150px;
  }

  p {
    font-size: .9em;
  }

  .row__primary,
  .row__secondary {
    padding: 1em .5em;
    text-align: center;
    @include breakpoint( 690px ) {
      text-align: left;
    }
  }

  .row__primary {
    width: 20%;
  }

}

.about-story-hyper-customization {
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 38em;
}

.about-story-growth {
  text-align: center;

  h2 {
    font-size: 2em;
    color: $meri-color-4;
  }
}

/**
 * Make Cardology Slider fill space
 */
.t-cardology .lslide {
  height: 100%;
}


///////////////////
.parallax-container {
  position: relative;
}
.parallax-title {
  @include vcenterer();
  left: 0;
  right: 0;
  text-align: center;

}
  .parallax-title.left-aligned {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;

    p { max-width: 100%; }
  }
  .parallax-title.lowered {
    transform: none;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }
.nl-landing-page-nav-list {
  display: flex;

  & > * {
    flex: 1;
  }
}
.custom-html-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint( max-width 500px ) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
  .custom-html-group.flex-override {
    display: block;
  }
  .custom-html-block {
    margin: 1em;
  }
  .custom-html-group.full-bleed .custom-html-block {
    margin: 0;
  }